<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<body>
<!--<nav th:replace="base :: navbar"></nav>-->
<div class="container">
    <div class="jumbotron">
        <h1>You have reached the Secure Page</h1>
        <br><br>
        <h5>This page can be viewed by all authorised users</h5>

        <p><a class="btn btn-primary btn-lg" href="/" role="button">Go to Home</a>
        </p>
    </div>
</div>

<a href="/logout">Logout</a>


</body>

</html>